@font-face {
  font-family: "Albert Sans";
  src: url("@/assets/fonts/AlbertSans-Regular.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Niconne";
  src: url("@/assets/fonts/Niconne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Albert Sans", sans-serif;
  background-color: #291a2e;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
